---
interface Props {
  title: string;
  from?: string;
  to?: string;
}

const { from, to, title } = Astro.props;
---

{
  from && (
    <>
      <time datetime={from}>{from}</time>-<time datetime={to}>{to}</time>
    </>
  )
}
<h4 class="my-0">{title}</h4>
<p class="mt-0">
  <slot />
</p>
