---
import Button from '../components/Button.astro';
import {technologies, type TechnologyName } from '../constants/Technologies';
import Prose from '../layouts/Prose.astro';
import { Icon } from 'astro-icon/components';

export interface Props {
  title: string;
  description: string;
  noteToDescription?: string;
  websiteUrl: string;
  githubUrl: string;
  technologiesUsed: TechnologyName[]
}



const { title, description, websiteUrl, githubUrl, technologiesUsed, noteToDescription } = Astro.props as Props;



---

<div data-animate class="bg-dark min-h-[400px] rounded-custom-xl text-center bg-[url('/img/card-bg.svg')] bg-contain bg-no-repeat p-8 shadow-md relative grid grid-rows-[1fr]">
  <Prose class="flex flex-col gap-4 prose-headings:m-0">
    <h3>{title}</h3>
    <p class="flex-1 mb-0" >
      {description}
    </p>
    {noteToDescription && <small class="text-gray-400">{noteToDescription}</small>}
    <div class="mb-4">
      <h4 class="text-lg font-semibold mb-2">Key technologies used</h4>
      <div class="flex gap-2 justify-center pt-3">
        {technologiesUsed.map(iconName => (
          <Icon name={technologies[iconName].icon} class="h-11 w-11" />
        ))}
      </div>
    </div>
  </Prose>


  
  <!-- Links for the project -->
  <div class="mt-1 grid gap-4 md:grid-cols-2">
    <Button href={websiteUrl}>Visit Website</Button>
    <Button href={githubUrl}>Visit Github</Button>
  </div>
</div>
